/* start animation */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }

  50% {
    top: -50px;
  }
}

@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40%,
  60% {
    transform: translateY(-15px);
  }
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    left: 0;
    width: 60%;
    height: 100%;
    border-radius: 0;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    right: 0;
    width: 60%;
    height: 100%;
    border-radius: 0;
  }
}
@keyframes arrow-move-right {
  50% {
    right: 20px;
  }

  100% {
    right: 10px;
  }
}
/* end  animation */
