/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

/* Start Global Rules  */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --white-fill: #fafafa;
  --main-transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* start Header */

header {
  box-shadow: 0 0 10px #ddd;
  position: relative;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

header .logo > a {
  color: var(--main-color);
  font-size: 2rem;
  font-weight: bold;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  header .logo > a {
    width: 100%;
  }

  nav {
    margin: auto;
  }
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: space;
}

header li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  text-transform: capitalize;
  position: relative;
  color: black;
  padding: 0 30px;
  transition: var(--main-transition);
  overflow: hidden;
}

@media (max-width: 767px) {
  header li > a {
    padding: 10px;
    font-size: 1.2rem;
    height: 40px;
  }
}

header li > a::before {
  content: "";
  /* width: 80px; */
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  position: absolute;
  top: 1px;
  left: -100%;
  height: 3px;
  transition: var(--main-transition);
}
header li > a:hover {
  color: var(--main-color);
  background-color: var(--white-fill);
}

header li > a:hover::before {
  left: 0;
}
/* End Header */
