/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

/* Start Global Rules  */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --white-fill: #fafafa;
  --main-transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.section-main-title {
  border: 2px solid;
  font-weight: bold;
  width: fit-content;
  margin: 0 auto 80px;
  text-transform: uppercase;
  padding: 15px;
  position: relative;
  transition: var(--main-transition);
  font-size: 2rem;
  z-index: 1000;
}

.section-main-title::before,
.section-main-title::after {
  content: "";
  background-color: var(--main-color);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: -1;
}
.section-main-title::before {
  left: -30px;
}

.section-main-title::after {
  right: -30px;
}

.section-main-title:hover::before {
  animation: left-move 0.5s linear forwards;
}
.section-main-title:hover::after {
  animation: right-move 0.5s linear forwards;
}

.section-main-title:hover {
  transition-delay: 0.5s;
  border-color: white;
  color: white;
}

/* End Global Rules */

/* start Header */

header {
  box-shadow: 0 0 10px #ddd;
  position: relative;
  z-index: 10;
  background-color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

header .logo > a {
  color: var(--main-color);
  font-size: 2rem;
  font-weight: bold;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  header .logo {
    width: 100%;
    height: 46px;
  }

  nav {
    margin: 15px auto;
  }
}

header nav .main-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .main-links > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  text-transform: capitalize;
  position: relative;
  color: black;
  padding: 0 30px;
  transition: var(--main-transition);
  overflow: hidden;
  font-size: 1.2rem;
  font-weight: 600;
}

@media (max-width: 767px) {
  header .main-links > li > a {
    padding: 0 10px;
    font-size: 1rem;
    height: 40px;
  }
}

header .main-links > li > a::before {
  content: "";
  /* width: 80px; */
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  position: absolute;
  top: 1px;
  left: -100%;
  height: 3px;
  transition: var(--main-transition);
}

header li > a:hover {
  color: var(--main-color);
  background-color: var(--white-fill);
}

header li > a:hover::before {
  left: 0;
}

/* End Header */

/* start landing */
.landing {
  position: relative;
  z-index: 0;
}

.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}

.landing .container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 74px);
}

.landing .text {
  flex: 1;
}

.landing .text h1 {
  margin: 0;
  letter-spacing: -2px;
  font-size: 2rem;
}

.landing .text p {
  line-height: 1.6;
  font-size: 1.2rem;
  margin: 5px 0 0;
  color: #666;
  max-width: 500px;
}

@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 1.7rem;
  }

  .landing .text p {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }

  .landing .text p {
    margin: 10px auto;
  }
}

.landing .container .image img {
  position: relative;
  width: 600px;
  max-width: 100%;
  animation: up-and-down 5s linear infinite;
}

@media (max-width: 991px) {
  .landing .container .image img {
    display: none;
  }
}

.landing .go-down {
  position: absolute;
  bottom: 30px;
  transform: translateX(-50%);
  left: 50%;
}

.landing .go-down:hover {
  color: var(--main-color);
}

.landing .go-down i {
  animation: bouncing 1.5s infinite;
}

/* end landing */
/* start mega-menu */
.mega-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  width: 100%;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  display: flex;
  gap: 40px;
  padding: 30px;
  opacity: 0;
  pointer-events: none;
  transition: top var(--main-transition), opacity var(--main-transition);
  z-index: 1000;
}

.main-links li.other-links > a:hover + .mega-menu,
.main-links li.other-links:hover .mega-menu,
.main-links li.other-links .mega-menu:hover {
  opacity: 1;
  pointer-events: auto;
  top: calc(100% + 1px);
}

@media (max-width: 767px) {
  .mega-menu {
    flex-direction: column;
    gap: 0;
  }
}

.mega-menu .image img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 767px) {
  .mega-menu .image img {
    display: none;
  }
}

.mega-menu .links {
  min-width: 240px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mega-menu .links > li {
  position: relative;
  display: flex;
  padding: 1rem;
  align-items: center;
}

.mega-menu .links > li::before {
  content: "";
  width: 0;
  background-color: #fafafa;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: -1;
  transition: var(--main-transition);
}

.mega-menu .links li:hover::before {
  width: 100%;
}

.mega-menu .links > li > a {
  color: var(--main-color);
  font-size: 1.2rem;
  font-weight: bold;
}

.mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}

@media (max-width: 767px) {
  .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
/* end mega-menu */
/* Start Articles */

.articles {
  padding: 100px 0;
}

.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.articles .container .box {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  transition: transform var(--main-transition);
}

.articles .container .box:hover {
  transform: translateY(-10px);
}
.articles .container .box .image img {
  max-width: 100%;
}

.articles .container .box .text {
  padding: 0 1rem;
  border-bottom: 1px solid #8080802e;
}
.articles .container .box .text p {
  line-height: 1.6;
}
.articles .container .box .info {
  position: relative;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.articles .container .box .info a {
  color: var(--main-color);
  font-weight: bold;
  font-size: 1.1rem;
}
.articles .container .box .info i {
  position: absolute;
  right: 20px;
  color: var(--main-color);
}
.articles .container .box:hover i {
  animation: arrow-move-right 1s linear infinite;
}
/* end Articles */
.spikes::after {
  content: "";
  position: absolute;
  right: 0px;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}
/* start gallery  */
.gallery {
  padding: 100px 0;
  background-color: #ececec;
}

.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.gallery .container .box {
  padding: 15px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 12px 20px 0px,
    rgba(0, 0, 0, 0.12) 0px 2px 4px 0px;
}
.gallery .container .box .image {
  position: relative;
  overflow: hidden;
}

.gallery .container .box .image img {
  max-width: 100%;
  transition: var(--main-transition);
}

.gallery .container .box .image::before {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  top: 50%;
  /* background-color: red; */
  left: 50%;
  width: 15px;
  height: 15px;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.gallery .container .box .image:hover::before {
  animation: flash-img 0.5s linear forwards;
}

.gallery .container .box .image:hover img {
  transform: rotate(5deg) scale(1.1);
}

/* end gallery  */

.features {
  padding: 100px 0;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.features .container .box {
  text-align: center;
  border: 1px solid rgb(204, 204, 204);
}

.features .container .box h3 {
  font-size: 2.5rem;

  position: relative;

  width: fit-content;
  margin: 0 auto 50px;
}
.features .container .box h3::before {
  content: "";
  position: absolute;
  width: 75%;
  left: 50%;
  height: 5px;
  bottom: -15px;
  transform: translateX(-50%);
}

.features .container .box p {
  line-height: 1.7;
  color: #777;
  padding: 0px 50px;
  margin-bottom: 50px;
  font-size: 1.3rem;
}

.features .container .image {
  position: relative;
  overflow: hidden;
}
.features .container .image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.features .container .image::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: transparent transparent white transparent;
  border-width: 0px 0px 170px 500px;
  bottom: 0;
  right: 0;
  transition: 0.5s;
}
.features .container .image img {
  max-width: 100%;
}
.features .container .box:hover .image::after {
  border-width: 170px 500px 170px 0px;
}
.features .container .box a {
  border: 3px solid;
  padding: 5px 20px;
  width: fit-content;
  margin: auto;
  display: block;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: black;
  transition: var(--main-transition);
  border-radius: 5px;
}

.features .container .box:hover a {
  background-position: left bottom;
  color: white;
}

.features .quality h3::before {
  background-color: #f44036;
}
.features .container .quality a {
  color: #f44036;
  border-color: rgb(244, 64, 54);
  background: linear-gradient(to right, rgb(244, 64, 54) 50%, white 50%) right
    bottom / 200% 100%;
  background-position: right bottom;
}

.features .container .time h3::before {
  background-color: #009688;
}

.features .container .time a {
  color: #009688;
  border-color: rgb(0, 150, 136);
  background: linear-gradient(to right, rgb(0, 150, 136) 50%, white 50%) right
    bottom / 200% 100%;
  background-position: right bottom;
}

.features .container .passion h3::before {
  background-color: #03a9f4;
}

.features .container .passion a {
  color: #03a9f4;
  border-color: rgb(3, 169, 244);
  background: linear-gradient(to right, rgb(3, 169, 244) 50%, white 50%) right
    bottom / 200% 100%;
  background-position: right bottom;
}

.features .container .time .image::before {
  background-color: rgba(0, 150, 136, 0.6);
}
.features .container .quality .image::before {
  background-color: rgba(244, 64, 54, 0.6);
}

.features .container .passion .image::before {
  background-color: rgb(3 169 244 / 60%);
}

/* <!-- Start testimonials --> */

.testimonials {
  padding: 100px 0px;
  background-color: #ececec;
}

.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
}

.testimonials .container .box {
  padding: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
}

.testimonials .container .box img {
  position: absolute;
  right: -10px;
  top: -50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #ececec;
}

.testimonials .container .box .info h3 {
  margin: 10px 0;
}
.testimonials .container .box .info p {
  margin: 10px 0;
  color: rgb(119, 119, 119);
}

.testimonials .container .box .rate i {
  color: rgb(255, 193, 7);
}
.testimonials .container .box .description {
  line-height: 1.6;
  color: rgb(119, 119, 119);
}
/* <!-- End testimonials --> */
/* Start Team Members */
.team-members {
  padding: 100px 0px;
}
.team-members .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.team-members .container .box {
  position: relative;
  transition: var(--main-transition);
}

.team-members .container .box::before,
.team-members .container .box::after {
  content: "";
  background-color: #f3f3f3;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 10px;
  transition: var(--main-transition);
  width: 0;
  z-index: -2;
}

.team-members .container .box::before {
  width: calc(100% - 60px);
}

.team-members .container .box::after {
  width: 0;
  background-color: #e4e4e4;
}

.team-members .container .box:hover::after {
  width: calc(100% - 60px);
}

.team-members .container .box .data {
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  padding-bottom: 10px;
}

.team-members .container .box:hover img {
  filter: grayscale(100%);
}

.team-members .container .box .data .social {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 15px;
}

.team-members .container .box .data .social a {
  color: #777;
  transform: var(--main-transition);
}

.team-members .container .box .data .social a :hover {
  color: var(--main-color);
}

.team-members .container .box img {
  width: calc(100% - 60px);
  border-radius: 10px;
}

.team-members .container .box .info {
  padding-left: 80px;
}

.team-members .container .box .info h3 {
  color: var(--main-color);
}

/* End Team Members */
