/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

/* Start Global Rules  */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --white-fill: #fafafa;
  --main-transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.section-main-title {
  border: 2px solid;
  font-weight: bold;
  width: fit-content;
  margin: 0 auto 80px;
  text-transform: uppercase;
  padding: 15px;
  position: relative;
  transition: var(--main-transition);
  font-size: 2rem;
}

.section-main-title::before,
.section-main-title::after {
  content: "";
  background-color: var(--main-color);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: -2;
}
.section-main-title::before {
  left: -30px;
}

.section-main-title::after {
  right: -30px;
}

.section-main-title:hover::before {
  animation: left-move 0.5s linear forwards;
}
.section-main-title:hover::after {
  animation: right-move 0.5s linear forwards;
}

.section-main-title:hover {
  transition-delay: 0.5s;
  border-color: white;
  color: white;
}

/* End Global Rules */

/* start Header */

header {
  box-shadow: 0 0 10px #ddd;
  position: relative;
  z-index: 10;
  background-color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

header .logo > a {
  color: var(--main-color);
  font-size: 2rem;
  font-weight: bold;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  header .logo {
    width: 100%;
    height: 46px;
  }

  nav {
    margin: 15px auto;
  }
}

header nav .main-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .main-links > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  text-transform: capitalize;
  position: relative;
  color: black;
  padding: 0 30px;
  transition: var(--main-transition);
  overflow: hidden;
  font-size: 1.2rem;
  font-weight: 600;
}

@media (max-width: 767px) {
  header .main-links > li > a {
    padding: 0 10px;
    font-size: 1rem;
    height: 40px;
  }
}

header .main-links > li > a::before {
  content: "";
  /* width: 80px; */
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  position: absolute;
  top: 1px;
  left: -100%;
  height: 3px;
  transition: var(--main-transition);
}

header li > a:hover {
  color: var(--main-color);
  background-color: var(--white-fill);
}

header li > a:hover::before {
  left: 0;
}

/* End Header */

/* start landing */
.landing {
  position: relative;
  z-index: 0;
}

.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}

.landing .container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 74px);
}

.landing .text {
  flex: 1;
}

.landing .text h1 {
  margin: 0;
  letter-spacing: -2px;
  font-size: 2rem;
}

.landing .text p {
  line-height: 1.6;
  font-size: 1.2rem;
  margin: 5px 0 0;
  color: #666;
  max-width: 500px;
}

@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 1.7rem;
  }

  .landing .text p {
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }

  .landing .text p {
    margin: 10px auto;
  }
}

.landing .container .image img {
  position: relative;
  width: 600px;
  max-width: 100%;
  animation: up-and-down 5s linear infinite;
}

@media (max-width: 991px) {
  .landing .container .image img {
    display: none;
  }
}

.landing .go-down {
  position: absolute;
  bottom: 30px;
  transform: translateX(-50%);
  left: 50%;
}

.landing .go-down:hover {
  color: var(--main-color);
}

.landing .go-down i {
  animation: bouncing 1.5s infinite;
}

/* end landing */

/* start animation */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }

  50% {
    top: -50px;
  }
}

@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40%,
  60% {
    transform: translateY(-15px);
  }
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 0;
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    right: 0;
    width: 50%;
    height: 100%;
    border-radius: 0;
  }
}
/* end  animation */

/* start mega-menu */
.mega-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  width: 100%;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  display: flex;
  gap: 40px;
  padding: 30px;
  opacity: 0;
  pointer-events: none;
  transition: top var(--main-transition), opacity var(--main-transition);
  z-index: 1000;
}

.main-links li.other-links > a:hover + .mega-menu,
.main-links li.other-links:hover .mega-menu,
.main-links li.other-links .mega-menu:hover {
  opacity: 1;
  pointer-events: auto;
  top: calc(100% + 1px);
}

@media (max-width: 767px) {
  .mega-menu {
    flex-direction: column;
    gap: 0;
  }
}

.mega-menu .image img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 767px) {
  .mega-menu .image img {
    display: none;
  }
}

.mega-menu .links {
  min-width: 240px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mega-menu .links > li {
  position: relative;
  display: flex;
  padding: 1rem;
  align-items: center;
}

.mega-menu .links > li::before {
  content: "";
  width: 0;
  background-color: #fafafa;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: -1;
  transition: var(--main-transition);
}

.mega-menu .links li:hover::before {
  width: 100%;
}

.mega-menu .links > li > a {
  color: var(--main-color);
  font-size: 1.2rem;
  font-weight: bold;
}

.mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}

@media (max-width: 767px) {
  .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
/* end mega-menu */
/* Start Articles */

.articles {
  padding: 100px 0;
}

.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.articles .container .box {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-bottom-left-radius: 10px ;
  border-bottom-right-radius:10px ;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  transition: transform var(--main-transition) ;
}

.articles .container .box:hover {
  transform: translateY(-10px);

}
.articles .container .box .image img {
  max-width: 100%;
}

.articles .container .box .text {
  padding:  0 1rem;
  border-bottom: 1px solid #8080802e;
}
.articles .container .box .text p {
  line-height: 1.6;
}
.articles .container .box .info {
  position: relative;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.articles .container .box .info  a {
  color: var(--main-color);
  font-weight: bold;
  font-size: 1.1rem;
}
.articles .container .box .info  i {
  position: absolute;
  right: 20px;
  color: var(--main-color);
}
.articles .container .box:hover i {
    animation: arrow-move-right 1s linear infinite;

}

@keyframes arrow-move-right {
  50% {
    right: 20px;
  }

  100% {
    right: 10px;
  }
}
/* end Articles */
