/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

/* Start Global Rules  */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --white-fill: #fafafa;
  --main-transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* start Header */

header {
  box-shadow: 0 0 10px #ddd;
  position: relative;
  z-index: 10;
  background-color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

header .logo > a {
  color: var(--main-color);
  font-size: 2rem;
  font-weight: bold;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  header .logo {
    width: 100%;
    height: 46px;
  }

  nav {
    margin: 15px auto;
  }
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: space;
}

header li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  text-transform: capitalize;
  position: relative;
  color: black;
  padding: 0 30px;
  transition: var(--main-transition);
  overflow: hidden;
  font-size: 1.2rem;
  font-weight: 600;
}

@media (max-width: 767px) {
  header li > a {
    padding: 10px;
    font-size: 1.2rem;
    height: 40px;
  }
}

header li > a::before {
  content: "";
  /* width: 80px; */
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  position: absolute;
  top: 1px;
  left: -100%;
  height: 3px;
  transition: var(--main-transition);
}
header li > a:hover {
  color: var(--main-color);
  background-color: var(--white-fill);
}

header li > a:hover::before {
  left: 0;
}
/* End Header */

/* start landing */
.landing {
  position: relative;
  z-index: 0;
}

.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}

.landing .container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 74px);
}

.landing .text {
  flex: 1;
}

.landing .text h1 {
  margin: 0;
  letter-spacing: -2px;
  font-size: 2rem;
}

.landing .text p {
  line-height: 1.6;
  font-size: 1.2rem;
  margin: 5px 0 0;
  color: #666;
  max-width: 500px;
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 1.7rem;
  }

  .landing .text p {
    font-size: 1rem;
  }
}
@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
  .landing .text p {
    margin: 10px auto;
  }
}

.landing .container .image img {
  position: relative;
  width: 600px;
  max-width: 100%;
  animation: up-and-down 5s linear infinite;
}

@media (max-width: 991px) {
  .landing .container .image img {
    display: none;
  }
}

.landing .go-down {
  position: absolute;
  bottom: 30px;
  transform: translateX(-50%);
  left: 50%;
}

.landing .go-down:hover {
  color: var(--main-color);
}
.landing .go-down i {
  animation: bouncing 1.5s infinite;
}

/* end landing */

/* start animation */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}

@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
/* end  animation */
